@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

@font-face {
    font-family: "Muller";
    src: local("MullerLight"),
    url("../fonts/MullerLight.woff2") format("woff2"), url("../fonts/MullerLight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Muller";
    src: local("MullerRegular"),
    url("../fonts/MullerRegular.woff2") format("woff2"), url("../fonts/MullerRegular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Muller";
    src: local("MullerRegularItalic"),
    url("../fonts/MullerRegularItalic.woff2") format("woff2"), url("../fonts/MullerRegularItalic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Muller";
    src: local("MullerMedium"),
    url("../fonts/MullerMedium.woff2") format("woff2"), url("../fonts/MullerMedium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Muller";
    src: local("MullerBold"),
    url("../fonts/MullerBold.woff2") format("woff2"), url("../fonts/MullerBold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "Muller", "Lato", sans-serif;
    font-size: 20px;
}

.header__menu {
    font-weight: 400;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    color: brown;
}

.tags a {
    color: crimson;
    font-weight: 500;
    text-decoration: line-through;
}

.index-title {
    color: red;
    font-size: 36px;
    font-weight: 700;
    text-shadow: 4px 4px 5px red;
    text-align: center;
}

h1 a {
    color: red;
}

.main__text {
    color: blue;
    text-align: justify;
    line-height: 1.5;
}

.main__text strong {
    color: red;
    text-decoration: underline;
}

.main__title    {
    color: green;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
}

.text-spec {
    color: chocolate;
    font-weight: 300;
}

.super-span {
    color: blueviolet;
    font-style: italic;
    word-spacing: 20px;
}

.main__block ul li span {
    color: lawngreen;
}

.main__list {
    color: deeppink;
    font-weight: 300;
    text-transform: capitalize;
}

.bottom-list {
    font-size: 14px;
    text-transform: lowercase;
}

.bottom-list-spec {
    font-size: 14px;
    text-transform: uppercase;
}


/*FIGMA.html*/
.figma-title {
    font-family: "Lato";
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    color: #1E212C;
}

.figma-bold {
    font-family: "Lato";
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #1E212C;
}

.figma-regular {
    font-family: "Lato";
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #424551;
}




