@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

/*====-FONT-FACE MULLER-====*/

@font-face {
    font-family: "Muller";
    src: local("MullerLight"),
    url("../fonts/MullerLight.woff2") format("woff2"), url("../fonts/MullerLight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Muller";
    src: local("MullerRegular"),
    url("../fonts/MullerRegular.woff2") format("woff2"), url("../fonts/MullerRegular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Muller";
    src: local("MullerRegularItalic"),
    url("../fonts/MullerRegularItalic.woff2") format("woff2"), url("../fonts/MullerRegularItalic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Muller";
    src: local("MullerMedium"),
    url("../fonts/MullerMedium.woff2") format("woff2"), url("../fonts/MullerMedium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Muller";
    src: local("MullerBold"),
    url("../fonts/MullerBold.woff2") format("woff2"), url("../fonts/MullerBold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/*====-FONT-FACE CIRCULAR Std-====*/

@font-face {
    font-family: "CircularStd";
    src: local("CircularStd-Book"),
    url("../fonts/CircularStd-Book.woff2") format("woff2"), url("../fonts/CircularStd-Book.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "CircularStd";
    src: local("CircularStd-Medium"),
    url("../fonts/CircularStd-Medium.woff2") format("woff2"), url("../fonts/CircularStd-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "CircularStd";
    src: local("CircularStd-Bold"),
    url("../fonts/CircularStd-Bold.woff2") format("woff2"), url("../fonts/CircularStd-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "CircularStd";
    src: local("CircularStd-Black"),
    url("../fonts/CircularStd-Black.woff2") format("woff2"), url("../fonts/CircularStd-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/*====-BODY and other MAIN-====*/

body {
    font-family: "Muller", "Lato", sans-serif;
    font-size: 18px;
}

.main-title {
    color: red;
    font-size: 36px;
    font-weight: 700;
    text-shadow: 4px 4px 5px red;
    text-align: center;
    margin-bottom: 35px;
}

.second-title {
    color: green;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    margin-bottom: 25px;
}

.text {
    line-height: 1.5;
    margin-bottom: 15px;
}

.text-link {
    color: #f03e3e;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

/*====-CONTAINER spec-====*/

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-header {
    background: linear-gradient(142deg, rgba(2,0,36,1) 0%, rgba(207,134,209,1) 35%, rgba(0,212,255,1) 100%);
    border-radius: 20px 70px 20px 70px;
}

/*====-HEADER-====*/

.header__logo img {
    width: 150px;
}

.header__menu {
    font-weight: 700;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: brown;
    text-align: right;
}

.header__item {
    display: inline-block;
    margin-left: 50px;
}

.header {
    padding-top: 15px;
    margin-bottom: 75px;
}

/*====-ABOUT-====*/

.about {
    margin-bottom: 75px;
}

.about-sec1 {
    font-weight: 300;
    text-align: center;
}

.about-sec2 {
    text-align: right;
}

.about-sec3 {
    text-align: justify;
    font-style: italic;
    text-indent: 35px;
}

.upper-span {
    color: forestgreen;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 500;
}

.cap-span {
    color: brown;
    text-transform: capitalize;
    text-shadow: brown 3px 3px 5px;
}

.under-span {
    color: deeppink;
    text-shadow: deeppink 3px 3px 5px;
    font-weight: 700;
    text-decoration: underline;
}

.text-pt {
    padding-top: 35px;
}

/*====-SKILLS-====*/

.skills {
    margin-bottom: 75px;
}

.skills__list {
    margin-bottom: 25px;
    color: chocolate;
}

.skills__text {
    color: crimson;
    font-weight: 700;
}

.skills__img {
    width: 250px;
    margin-bottom: 25px;
}

.inside-list {
    padding-left: 15px;
    color: blue;
}

.inside-item {
    text-transform: lowercase;
    word-spacing: 7px;
    color: darkmagenta;
}

.inside-item-spec {
    font-weight: 500;
    text-transform: uppercase;
    color: indigo;
}

.text-italic {
    font-style: italic;
    border-bottom: 1px dotted darkred;
}

.text-bold {
    font-weight: 700;
    font-size: 26px;
}

 /*====-MARGINS-====*/

.margins {
    margin-bottom: 75px;
}

.margins-spec {
    border-top: #424551 1px solid;
    padding-top: 25px;
}

.paddings__ex {
    margin-bottom: 35px;
}

.padding__block {
    max-width: 250px;
    background-color: #7a956b;
    margin-right: 15px;
    display: inline-block;
    overflow: hidden;
}

.padding-all {
    padding: 25px;
}

.padding-tb {
    padding: 25px 0;
}

.padding-lr {
    padding: 0 25px;
}

.scroll {
    height: 250px;
    overflow: scroll;
}

.hidden {
    height: 250px;
    overflow: hidden;
}

.overflow {
    margin-bottom: 35px;
}

.no-overflow {
    height: 250px;
    overflow: visible;
}

/*====-BORDER-====*/

.border {
    margin-bottom: 75px;
}

.text-border {
    border: dashed 2px orangered;
}

.border-all {
    border: 3px solid black;
    background: aqua;
    margin-bottom: 15px;
    padding: 25px 15px;
}

.border-vertical {
    border-top: 5px dotted red;
    border-right: none;
    border-bottom: 5px dashed orange;
    border-left: none;
}

.border-radius {
    border-radius: 25px;
    border: 3px double greenyellow;
    background: darkolivegreen;
    padding: 25px 15px;
    margin-bottom: 15px;
}

.metallica {
    width: 250px;
}

.metallica-logo {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: #ff5d40 6px 6px 20px 8px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.chip {
    width: 250px;
    height: 250px;
    opacity: 0.5;
}

.chip-logo {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 30px;
}

.border-corner {
    background: coral;
    opacity: 0.1;
    border-radius: 25px 10px 25px 10px;
    padding: 25px;
    margin-bottom: 15px;
}

.outline-div {
    outline: #f03e3e 2px solid;
}

.vision {
    visibility: hidden;
}

/*====-BACKGROUND-====*/

.background {
    margin-bottom: 75px;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(252,247,231,1) 11%, rgba(247,237,201,1) 17%, rgba(244,230,179,0.9122242647058824) 25%, rgba(239,255,0,1) 30%);
    border-radius: 15px;
    padding: 0 15px;
}

.background-title {
    padding-top: 25px;
}

.background2 {
    min-height: 300px;
    background-image: url("../img/freelancer.png");
    background-position: center;
    background-attachment: fixed;
}

.background3 {
    margin-bottom: 25px;
}

.imaginarium {
    display: flex;
    padding-bottom: 25px;
    justify-content: space-evenly;
}

.imaginarium1 {
    width: 250px;
    min-height: 250px;
    background: url("../img/flower1.svg") 43% 57% / 20px no-repeat, url(../img/warhammer1.jpeg) center / cover no-repeat;
}

.imaginarium2 {
    width: 250px;
    min-height: 250px;
    background: url(../img/flower2.svg) 46% 44% / 20px no-repeat, url(../img/flower3.svg) 44% 95% / 20px no-repeat, url(../img/flower4.svg) 45% 65% / 20px no-repeat, url(../img/warhammer2.jpeg) center / cover no-repeat;
}

.imaginarium3 {
    width: 250px;
    min-height: 250px;
    background: linear-gradient(180deg, rgba(255,255,255,0.7) 0%, rgba(232,158,120,0.5032606792717087) 100%),
    url(../img/warhammer3.jpeg) center / cover no-repeat;
}

/*====-FOOTER-====*/

.footer {
    background: #000;
    color: #fff;
}

.footer__text {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    padding:75px 0;
    margin: 0 auto;
}

 /*====-FIGMA1.html-====*/

.figma-container {
    max-width: 850px;
    padding: 0 20px;
    margin: 0 auto 140px;
}

.figma-title {
    font-family: "Lato";
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    color: #1E212C;
    margin-bottom: 26px;
}

.figma-post {
    display: inline-block;
    font-family: "Lato";
    font-size: 16px;
    line-height: 160%;
    color: #787A80;
    margin-bottom: 40px;
    padding-left: 34px;
}

.figma-date {
    background: url("../img/cal.svg") left center / auto no-repeat;
    margin-right: 24px;
}

.figma-time {
    background: url("../img/cl.svg") left center / auto no-repeat;
}

.figma-img {
    margin-bottom: 60px;
}

.figma-bold {
    font-family: "Lato";
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #1E212C;
    margin-bottom: 24px;
}

.figma-bold-spec {
    padding-left: 58px;
    background: url("../img/braces.svg") 0 0 / auto no-repeat;
}

.figma-regular {
    font-family: "Lato";
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #424551;
    margin-bottom: 24px;
}

.figma-text-spec {
    margin-bottom: 48px;
}

.figma-item {
    padding-left: 32px;
    background: url("../img/check.svg");
    background-position: 0 5px;
    background-repeat: no-repeat;
    margin-bottom: 4px;
}

.figma-createx {
    max-width: 390px;
}

.figma-prequestion {
    font-family: "Lato";
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #1E212C;
    margin-bottom: 8px;
}

.figma-question {
    font-family: "Lato";
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    color: #1E212C;
    margin-bottom: 40px;
}

.item-spec {
    margin-bottom: 12px;
}

.figma-list {
    margin-bottom: 48px;
}

.createx-btn {
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    border-radius: 4px;
    font-family: "Lato";
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    padding: 15px 32px;
    display: inline-block;
}

/*====-FIGMA2.html-====*/

.figma2-container {
    max-width: 1025px;
    margin: 0 auto 75px;
}

.figma2-title {
    text-align: center;
    font-family: "CircularStd";
    font-weight: 500;
    font-size: 65px;
    line-height: 126%;
    margin-bottom: 20px;
    color: #313131;
}

.figma2-subtitle {
    text-align: center;
    font-family: "CircularStd";
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 224px;
    color: #5F5F5F;
}

.figma2-comment-block {
    max-width: 508px;
    margin-bottom: 100px;
}

.figma2-comment-title {
    font-family: "CircularStd";
    font-weight: 700;
    font-size: 34px;
    line-height: 130%;
    color: #313131;
    opacity: 0.88;
    margin-bottom: 20px;
}

.figma2-comment-text {
    font-family: "CircularStd";
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    color: #5F5F5F;
    margin-bottom: 125px;
}

.figma2-username {
    display: block;
    font-family: "CircularStd";
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    color: #313131;
    opacity: 0.88;
    margin-bottom: 5px;
}

.figma2-position {
    display: block;
    font-family: "CircularStd";
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #B8B8B8;
}






